.group\/menu-link:hover,
.animate {
  animation-iteration-count: 2;
  stroke-dasharray: 10;
}

@media print {
  body * {
    visibility: hidden;
  }
  .print-only,
  .print-only * {
    visibility: visible;
  }
  .print-only {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  @page {
    margin: 0;
    size: auto;
  }
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
